<nav class="navbar navbar-inverse bgwhite border border-secondary rounded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand rounded pl-3 rounded" href="/">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li class="active">
        <a href="/saved">Saved articles</a>
      </li>
      <li>
        <a class="btn btn-primary scrape-new">Scrape New Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>featuring The Guardian</p>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p>The Guardian Mongo Scraper</p>
  </div>
</footer>




<!-- Basic Page JavaScript for Repsonsiveness -->
<script type="text/javascript" src="assets/javascript/index.js"></script>