<nav class="navbar navbar-inverse bgwhite border border-secondary rounded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand p-3 rounded btn btn-primary scrape-new" href="/">Mongo Scraper</a>
      <a class="navbar-brand p-3 rounded btn btn-secondary" href="/saved">Saved Articles</a>
    </div>
    <ul class="nav navbar-nav py-3">
      <li>
        <a class="btn btn-danger p-3 rounded scrape-new button">Scrape New Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>featuring The Guardian</p>
  </div>
</div>
<div class="container text-center">
  <footer class="footer rounded">
    <div class="">
      <p>The Guardian Mongo Scraper</p>
    </div>
  </footer>
</div>





<!-- Basic Page JavaScript for Repsonsiveness -->
<script type="text/javascript" src="assets/javascript/index.js"></script>