<nav class="navbar navbar-inverse bgwhite border border-secondary rounded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Saved Articles</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li class="active">
        <a href="/saved">Saved articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your saved Guardian articles</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>
<footer class="footer">
  <div class="container">
    <p>The Guardian Mongo Scraper</p>
  </div>
</footer>

<!-- Link in jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<!-- Materialize - Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- Basic Page JavaScript for Repsonsiveness -->
<script type="text/javascript" src="assets/javascript/saved.js"></script>