<!-- start of nav -->
<nav class="navbar navbar-inverse bgwhite border border-secondary rounded">
  <div class="container-fluid">
    <div class="navbar-header py-3">
      <a class="navbar-brand p-3 rounded btn btn-primary" href="/saved">Saved Articles</a>
      <a class="navbar-brand p-3 rounded btn btn-secondary scrape-new" href="/">Scraper Home</a>
    </div>
  </div>
</nav>
<!-- end of nav -->
<div class="jumbotron text-center">
  {{!-- <div class="overlay">
  </div> --}}
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your saved Guardian articles</p>
  </div>
  <div class="container-fluid article-container"></div>
</div>
</div>
<footer class="footer rounded">
  <div class="container text-center">
    <p>The Guardian Mongo Scraper</p>
  </div>
</footer>

<!-- Link in jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<!-- Materialize - Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- Basic Page JavaScript for Repsonsiveness -->
<script type="text/javascript" src="assets/javascript/saved.js"></script>